

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}


body {
    font-family:  'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color: rgb(240, 230, 240);
    color: #20436B;
}

/*IMPOSTAZIONI HEADER*/


#site-header {
    background-image: url(https://images.pexels.com/photos/932320/pexels-photo-932320.jpeg?_gl=1*1w6nh6k*_ga*NjgxOTUwMzEuMTc3ODA3MjMwOQ..*_ga_8JE65Q40S6*czE3NzgyMjg4MTEkbzQkZzEkdDE3NzgyMjk0OTYkajU5JGwwJGgw);
    background-size: cover;
    background-position: center;
    text-align: center;
    line-height: 2.5;
    border-bottom: 4px solid rgb(255, 157, 0);
    margin-bottom: 80px;
}

#site-header h1 {
    padding: 60px 50px 0;
    text-shadow: 10px 12px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
	font-size: 2rem;
    padding: 30px 10px 0;
	font-weight: bold;
	font-style: italic;
    color: rgb(240, 230, 240);
}

#site-header nav a {
    display:inline-block;
    padding:8px 16px;
    margin: 0 4px;
    border-radius: 4px;
    border: 1px solid rgb(240, 230, 240)
}


#site-header nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#site-header nav li {
    width: 100%;
    display: block;
    margin: 8px 0;
}

#site-header nav a {
    display: block;
    width:100%;
    color: rgb(240, 230, 240);
    font-weight: bold;   
}

.tagline {
    color: white;
    font-style: italic;
    display: block;
    padding: 0 15px;
}

.tagline strong::after {
    content: " </> ";
    font-weight: bold;
}

/* REGOLE GENERALI MAIN SECTION*/

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

main section {
    
    padding: 20px;
    margin-bottom: 24px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.08);
    background-color: white;
}

main section:first-of-type {
    margin-top: -60px;
}

main section h2 {
    font-size: 2rem;
}

main section h3 {
    font-size: 1.3rem;
}

#back {
    color: rgb(255, 157, 0)
}

table {
    width: 100%;
    display: block;
    overflow-x: auto;
}


/*Section Card
CHI SONO*/


#chi-sono img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 4px solid rgb(255, 157, 0);
    margin: 0 auto 20px;
    float:none;
    display: block;
}


#chi-sono p:first-of-type::first-letter {
    font-size: 3rem;
    font-weight: bold;
    float: left;
    margin-right: 6px;
}

#chi-sono strong {
    color: #20436B;
}


/*COMPETENZE*/

h3 {
    text-align: left;
    color:#20436B;
}

#competenze table {
    width:100%;
    text-align: left;
    border-collapse: collapse;
}

#competenze table th {
    background-color: rgb(214, 212, 212);
    border-bottom: 0.5px solid rgb(214, 212, 212);
    width:50%;
    padding: 10px;
} 

#competenze table td {
    border-bottom: 2px solid rgb(244, 241, 241);
    padding: 10px;
}


.container {
    background-color: rgb(214, 212, 212);
    width:100%;
    height:10px;
    border-radius: 4px;
}

.barra1 {
    background-color: rgb(255, 157, 0);
    width: 80%;
    height:10px;
    border-radius: 4px;
}

.barra2 {
    background-color: rgb(255, 157, 0);
    width: 75%;
    height: 10px;
    border-radius: 4px;
}

.barra3 {
    background-color: rgb(255, 157, 0);
    width: 65%;
    height: 10px;
    border-radius: 4px;
}

.barra4 {
    background-color: rgb(255, 157, 0);
    width: 50%;
    height: 10px;
    border-radius: 4px;
}

.barra5 {
    background-color: rgb(255, 157, 0);
    width: 70%;
    height: 10px;
    border-radius: 4px;
}


/*PROGETTI*/
.project:nth-of-type(odd) {
    background-color: rgb(244, 241, 241);
    border-left: 4px solid #20436B
}

.project:nth-of-type(even) {
    background-color: white;
    border-left: 4px solid rgb(255, 157, 0)
}

.project:first-of-type h3::after {
    content: "NEW";
    display:inline-block;
    padding: 2px 8px;
    margin-left: 12px;
    background-color: rgba(255, 0, 0, 0.719);
    color: #fff;
    border-radius: 3px;
    font-size: 1rem;
}

.project {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    margin-bottom: 5px;
    padding-left: 10px; 
}


#projectPage {
    text-align: right;
}


/*ESPERIENZE*/

#esperienze table {
    border-collapse: collapse;
    width: 100%;
}

#esperienze table th {
    background-color: rgb(214, 212, 212);
    text-align: left;
    border-bottom: 0.5px solid rgb(214, 212, 212);
    padding: 10px;
}

#esperienze table td {
    border-bottom: 0.5px solid rgb(244, 241, 241);
    padding: 10px;
}


/*CONTATTI*/

label {
    font-weight: bold;
    color:#20436B;

}

input,
textarea,
select {
    width: 100%;
}

input::placeholder, 
textarea::placeholder {
    color: #999;
    font-style: italic;
}

#yes {
    width:auto;
}

 .focus:focus {
    background-color: rgb(214, 212, 212);
    color:black
 }
 
 button {
    width: 100%;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    width: 30%;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/*FOOTER*/

#site-footer {
    background-color: darkblue;
    text-align: center;
    color: white;
    padding: 10px;
    line-height: 1.5;
    font-size: 0.8rem;
}

#site-footer nav ul {
    padding: 0;
    margin: 0;
}

#site-footer nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 3px;
    font-size: 0.9rem;
    border: 0.5px solid #20436B;
    color: #20436B;
    border-radius: 14px;
}


/*TABLET (768PX)*/
@media screen and (min-width:768px) {
    #site-header h1 {
        font-size: 3rem;
    }
    #site-header nav ul {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    #site-header nav li {
        width: auto;
    }

    #site-header nav a {
        width: auto;
    }

    #chi-sono img {
        float: left;
    }

    input,
    textarea,
    select {
        width: 70%;
    }

    button {
        width: 40%;
    }
}


/*DESKTOP(1200px)*/

@media screen and (min-width:1200px) {
    #site-header h1 {
        font-size: 4.5rem;
    }

    main {
        max-width: 1000px;
    }

    #chi-sono img {
        float: left;
    }

    input,
    textarea,
    select {
        width: 60%;
    }

    button {
        width: 30%;
    }

    #site-footer {
        padding: 30px;
        font-size: 1rem;
    }

    #site-footer nav ul li {
        font-size: 1.4rem;
        padding:10px;
        margin:10px; 
    }

    /*Effetti hover*/

    #site-header nav a:hover {
        background-color: rgb(255, 157, 0);
        color: #20436B;
    }

    #chi-sono img:hover {
        border-radius: 0;
    }

    .project a:hover {
    color: rgb(255, 157, 0);
    }

    #projectPage a:hover {
    color: rgb(255, 157, 0);
    }

    button:hover {
        background-color: darkblue;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    #site-footer nav ul li:hover {
        background-color: rgb(204, 204, 204);
        color: #20436B;
     }
}